.birds h1{
  font-weight:bold;
  padding-top: 60px;
  text-align: center;
  font-family:fantasy;
  font-size: 24pt;
  white-space: nowrap;

}

p, form {
  font-family: sans-serif;
  font-size: 14pt;
  text-align: left;
  word-wrap: break-word;
  word-spacing: 5px;
  padding-left: 160px;
  padding-right: 160px;
}
#survey{
  visibility: hidden;
}
.transbox {
    margin: 30px;
    padding-top:50px;
    padding-bottom: 100px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    z-index:1;
}

img{
  max-height: 400px;

}

.birds {
  max-height: 300px;
  display: flex;
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

body{
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 200px;
  padding-right: 200px;
  z-index: 1;
}
