<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
  <section class="birds">
    <img src="../resources/birdheaderedit.png"><h1>Damsel in Distress</h1><img src="../resources/birdheaderedit.png">
  </section>
<!-- Content -->
  <section class="transbox">
      <div align="center"><img src="../resources/fantasy.jpg"></div>
      <p>You enter the sunshine path and are greeted with an aroma of flowers. Within the flowerbed, you see a cute little figure.
        <br>
        <a href="/poro">Approach the cute figure</a>
    </p>
  </section>
  </body>
</html>
