<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  </head>
  <body>

<!-- Header -->
    <section class="birds">
      <img src="../resources/flyingbirds2.gif"><h1><section class="transbox">Damsel in Distress</section></h1><img src="../resources/flyingbirds2.gif">
    </section>
<!-- Content -->
    <section class="transbox">
        <div align="center"><img src="../resources/sunshineedit.png"></div>
        <p>You enter the sunshine path and are greeted with an aroma of flowers. Within the flowerbed, you see a cute little figure.
          <br><br>
          <a href="/poro">Approach the cute figure</a>
      </p>

<!-- Footer -->
        <div id="deer"><img src="../resources/deer.gif"></div>
        <div id="rabbit"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
