<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
  <section class="birds">
    <img src="../resources/birdheaderedit.png"><h1>Damsel in Distress</h1><img src="../resources/birdheaderedit.png">
  </section>

<!-- Content -->
  <section class="transbox">
      <div align="center"><img src="../resources/treeedit.png"></div>
      <p>You decide to climb up the tree with your awful climbing skills, but somehow you still manage to get to the top.
          When you look around, you see a cute figure bathing in the sunlight.
        <br><br>
        <a href="/poro">Approach the cute figure</a>
    </p>
  </section>
  </body>
</html>
