<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>

  </head>
  <body>
<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/treeedit.png"></div>
      <p>You decide to climb up the tree with your awful climbing skills, but somehow you still manage to get to the top.
          When you look around, you see a cute figure bathing in the sunlight.
        <br><br>
        <a href="/poro">Approach the cute figure</a>
      </p>

<!-- Footer -->
      <div id="deer"><img src="../resources/jumpbunny.gif"></div>
      <div id="rabbit"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
