<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header
  <section class="birds">
      <img src="../resources/birdheader.png">
                      <img  src="../resources/birdheader.png">
                      <img  src="../resources/birdheader.png">
  </section>
-->

    <h1>Damsel in Distress</h1>
<!-- Content -->
  <section class="transbox">
      <div align="center"><img src="../resources/fantasy.jpg"></div>
      <p>You decide to climb up the tree with your awful climbing skills, but somehow you still manage to get to the top.
          When you look around, you see a cute figure bathing in the sunlight.
        <br>
        <a href="page.html">Approach the cute figure</a>
    </p>
  </section>


    <!-- Footer
      <section class="birds">
          <img src="../resources/birdheader.png">
                          <img src="../resources/birdheader.png">
                          <img src="../resources/birdheader.png">
      </section>
    -->
  </body>
</html>
