<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
    <section class="birds">
      <img src="../resources/flyingbirds2.gif"><h1><section class="transbox">Damsel in Distress</section></h1><img src="../resources/flyingbirds2.gif">
    </section>

<!-- Content -->
  <section class="transbox">
    <div align="center"><img src="../resources/poroloveedit.png"></div>
    <p>Poro takes a liking in you and decides to travel with you!</p>
    <a href="/house">Look around</a>

<!-- Footer -->
      <div id="deer"><img src="../resources/deer.gif"></div>
      <div id="rabbit"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
