<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
  <section class="birds">
    <img src="../resources/birdheaderedit.png"><h1>Damsel in Distress</h1><img src="../resources/birdheaderedit.png">
  </section>

<!-- Content -->
  <section class="transbox">
    <div align="center"><img src="../resources/poroedit.jpg"></div>
    <p>Poro takes a liking in you and decides to travel with you!</p>
  </section>
  </body>
</html>
