<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/waterfalledit.png"></div>
      <p>As you and Poro spend some quality time together, something catches your eye in your peripheral vision.
        You see a shining waterfall through a small parting in the leaves on the trees. The two of you go a little closer
        to the shiny phenomenon and see that there is even a boat floating next to the waterfall as if it was meant to bring people
        into the cave behind the waterfall. Do you go on the boat?
        <br><br>
        <a href="/boat">Of course! I love a good adventure</a><br>
        <a href="/noboat">No! That cave could be dangerous</a>
      </p>
<!-- Footer -->
      <div id="deer"><img src="../resources/jumpbunny.gif"></div>
      <div id="rabbit"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
