<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/poroloveedit.png"></div>
      <p>You knock on the old wooden door on the cabin. After a long while, an old woman cracks a door open and peeks out.
        You quickly stutter that you are lost and do not know the way out of the forest. Fortunately, she is a kind old woman
        and directs you to two possible pathes to go. One is the Magical Cave, which can take you directly out of the Enchanted Forest.
        The other is a field on the other side of the forest that has flowers with a potion that can transport you out of the Enchanted Forest.
        <br><br>
        <a href="/cave">The Magical Cave</a><br>
        <a href="/field">The Field with a Potion</a>
      </p>
<!-- Footer -->
      <div id="deer"><img src="../resources/jumpbunny.gif"></div>
      <div id="rabbit"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
