<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/poroloveedit.png"></div>
      <p>You decide not to take the risk of going into the suspicious cave, but as you turn around to leave,
        you realize there isn't anything around you but woods. You turn around to make a final decision.
        <br><br>
        <a href="/waterfall">Go back</a>
      </p>
<!-- Footer -->
      <div><a href="/helppage">
      <div id="deer"><img src="../resources/jumpbunny.gif"></div></a></div>
      <div id="rabbit"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
