<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/woodenCabinSunshineedit.png"></div>
      <p>You decide not to pester the owner of the cabin. As you turn around to leave,
        you realize there is nowhere else you could get help from. You glance back at the house...
        <br><br>
        <a href="/house">Go back</a>
      </p>
<!-- Footer -->
      <div><a href="/helppage">
      <div id="rabbit"><img src="../resources/jumpbunnyedit.gif"></div></a></div>
      <div id="deer"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
