<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="../resources/main2.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section id ="home" class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/waterfalledit.png"></div>
      <p>As you and Poro walk the way the old woman mentioned, you see a shining waterfall through a small parting in the leaves on the trees.
        The two of you go a little closer to the shiny phenomenon and see that there is even a boat floating next to the waterfall as if it was meant to bring people
        into the cave behind the waterfall. The cave! It must be the magical cave. Despite this, you still have some doubts about this decision
        because what if there is a monster inside the cave?
        <br><br>
        <a href="/boat">But, what else can I do? Go for it</a>
      </p>
<!-- Footer -->
      <div><a href="/helppage">
      <div id="rabbit"><img src="../resources/jumpbunnyedit.gif"></div></a></div>
      <div id="deer"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
