<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/poroloveedit.png"></div>
      <p>As you weigh the options, you decide that if you can directly teleport out of the Enchanted Forest,
        you will be able to go home, save time, and play more video games. The only issue was...the field was so far away.
        Despite this, you take a big breath and tell yourself that being lazy will not get you anywhere.
        <br><br>
        As the noon sun beat down on you and Poro, you kept on walking and eventually got to the field.
        Here it smelled even more like flowers. You bend down to pick up a flower, and it started dripping some type of liquid.
        As an experiment, you turn the flower over and find that the liquid was the liquid the old lady was telling you about
        that can transport you directly to the real world. You go ahead and drink the liquid...
        <br><br>
        <a href="/drinkescape">Drinks the liquid</a>
      </p>
<!-- Footer -->
      <div><a href="/helppage">
      <div id="deer"><img src="../resources/jumpbunny.gif"></div></a></div>
      <div id="rabbit"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
