<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="../resources/main2.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section id ="home" class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/caveedit.png"></div>
      <p>Staying on course makes you feel the most comfortable, but as you drift on,
        you realize that there could be potential danger up ahead. You start regretting your decision to leave the shiny island alone,
        but there is no going back now. Fortunately, you see an object floating on the water. Getting closer to it,
        you find that it is a sharp stick seemingly from a broken ship. You decide not to miss this opportunity to get a weapon.
        <br><br>
        <a href="/stick">Picks up the sharp stick</a>
      </p>
<!-- Footer -->
      <div><a href="/helppage">
      <div id="rabbit"><img src="../resources/jumpbunnyedit.gif"></div></a></div>
      <div id="deer"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
