<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/poroloveedit.png"></div>
      <p>As you pick up the stick, you feel a boost of confidence and a rush of adrenaline in your body.
        Suddenly you feel light and like you can conquer anything in the world. Because of this, your rowing becomes faster,
        and you reach the end of the cave quickly...only to see that there is an obstacle in the way, a dragon.
        <br><br>
        You go into panic-mode for a few seconds but when you look down, you see the stick clutched in your hands.
        You muster up all your courage, jump out of the boat, and charge straight at the dragon.
        You see a set of stones that resembles a staircase, and you jump on each one, jumping high enough to be face to face to the dragon and you...
        <br><br>
        <a href="/stickescape">Blind the dragon with the stick</a>
      </p>

<!-- Footer -->
      <div id="deer"><img src="../resources/jumpbunny.gif"></div>
      <div id="rabbit"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
