<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/poroloveedit.png"></div>
      <p>You throw the stick right at the dragon's eyes, blinding the dragon.
        The dragon growls in pain and wabbles around, eventually collapsing and leaving just the right amount of time for you to escape with Poro.
        You two quickly run pass the dragon and towards the light at the end of the cave.
        Suddenly, as you run through the cave opening, everything becomes blurry and bright,
        so bright that you close your eyes and shield yourself from the light.
        <br><br>
        The next thing you know, you open your eyes and find yourself standing at the door of your room at home.
        Everything seemed just like a dream...
        <br><br>
        CONGRATULATIONS YOU ESCAPED!
      </p>

<!-- Footer -->
      <div><a href="/helppage">
      <div id="deer"><img src="../resources/jumpbunny.gif"></div></a></div>
      <div id="rabbit"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
