<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header
  <section class="birds">
      <img src="../resources/birdheader.png">
                      <img  src="../resources/birdheader.png">
                      <img  src="../resources/birdheader.png">
  </section>
-->

    <h1>Damsel in Distress</h1>
<!-- Content -->
  <section class="transbox">
      <div align="center"><img src="../resources/fantasy.jpg"></div>
      <p>You look around for an escape but only see three paths. Which one will you choose?
        <br>
        <a href="1creepy.html">Dark path</a><br>
        <a href="1sunshine.html">Sunshine path</a><br>
        <a href="1tree.html">Go up a tree</a><br>
    </p>
  </section>


    <!-- Footer
      <section class="birds">
          <img src="../resources/birdheader.png">
                          <img src="../resources/birdheader.png">
                          <img src="../resources/birdheader.png">
      </section>
    -->
  </body>
</html>
