<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
  <section class="birds">
    <img src="../resources/birdheaderedit.png"><h1><section class="transbox">Damsel in Distress</section></h1><img src="../resources/birdheaderedit.png">
  </section>
<!-- Content -->
  <section class="transbox">
    <div align="center"><img id="notrans" src="../resources/fantasyedit2.png"></div>
      <p>Somehow you have found yourself stuck in a precarious situation. You are lost in the middle of the Enchanted Forest,
        home to a variety of creatures, some benign, some more than willing to devour you. You must escape from this place, and to
        do so you will need to become stronger as well. Go on this journey, become powerful, and escape this dangerous land.
        <br><br>
        <a href="/begin2">Begin Journey</a>
    </p>
  </section>
  </body>
</html>
