<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="../resources/main2.js"></script>
  </head>
  <body>


<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section id ="home" class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/choosepathedit.png"></div>
      <p>You look around for an escape but only see three paths. Which one will you choose?
        <br><br>
        <a href="/dark">Dark path</a><br>
        <a href="/sunshine">Sunshine path</a><br>
        <a href="/tree">Go up a tree</a><br>
      </p>

<!-- Footer -->
      <div><a href="/helppage">
      <div id="rabbit"><img src="../resources/jumpbunnyedit.gif"></div></a></div>
      <div id="deer"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
