<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  </head>
  <body>
<!-- Header -->
  <section class="birds">
    <img src="../resources/birdheaderedit.png"><h1>Damsel in Distress</h1><img src="../resources/birdheaderedit.png">
  </section>
  
  <h5>People to help</h5><ol>
      {% for data in information %}
        <li>Name: {{data.name}} <br>
            Address: {{data.street}} <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                     {{data.city}}, {{data.state}} &nbsp; {{data.zipcode}} <br>
            Phone Number: {{data.number}}</li>
      {% endfor %}</ol>
  </body>
</html>
