<html>
<head>
  <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="main.js"></script>
</head>
<body>
  <form method="post" action="/data" id  = "survey">
    <p>
      Name:
        <input type="text" name="name"/><br>
      Street:
        <input type="text" name="street"/><br>
      City:
        <input type="text" name="city"/><br>
      State:
        <input type="text" name="state"/><br>
      Zip Code:
        <input type="text" name="zipcode"/><br>
      Phone Number:
        <input type="text" name="number"/><br>
    </p>
        <input type="submit" name="Submit Info"/>
        <input type = "button" value = "Reload page" id = "reload"/>
        <input type="button"  value="Hide" id ="hide"/>

  </form>
</body>
</html>
