<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="main.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/poroedit2.png"></div>
      <p>You suspect it is the rumored "Poro" creature. Suddenly, something catches your eye.
        A Poro snack! You throw it towards the figure, hoping that you will snag a glance at a mythical Poro.
        To your surprise, it really is a Poro!
      </p>

      <form method="get" action id="survey">
        <p>What do you say to the Poro?
          <input type="text" name="Enter"/>
        </p>
      </form>

      <p><a href="/companion">Speak to the Poro</a></p>
<!-- Footer -->
      <div><a href="/helppage">
      <div id="rabbit"><img src="../resources/jumpbunnyedit.gif"></div></a></div>
      <div id="deer"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
