<html>
<head>
<link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="main.js"></script>
</head>
<h1>Damsel in Distress</h1>
<section class="transbox">
  <div align="center"><img src="../resources/poroedit2.png"></div>
  <p>You suspect it is the rumored "Poro" creature. Suddenly, something catches your eye.
    A Poro snack! You throw it towards the figure, hoping that you will snag a glance at a mythical Poro.
    To your surprise, it really is a Poro!</p>

  <form method="post" action id="survey">
    <p>What do you say to the Poro?
      <input type="text" name="Enter"/>

  <a href="2companion.html">Speak to the Poro</a>
