<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <link rel="icon" type="image/ico" href="./favicon.ico"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="../resources/main2.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section class="transbox">Help/Tutorial</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <p>Welcome to the game and thanks for playing!
        <br><br>
        This is a simple text RPG game.<br><br>
        When you see a comment box, feel free to express whatever you would like.<br>
        Key phrases may open up something new that could be of help to you in the game of life, your life.<br>
        Try "blood, sweat, tears". It may clean up some hardships in your life.<br>
        Try "danger". It may magically make all your worries disappear.<br>
        Try "butterfly". It may help you get out of an abusive situation.<br>
        Try "not today". It may convince you that today is not the day to give up.<br>
        Try "BTS". Maybe you'll go behind the scenes?<br><br>
        In this game, the decision is yours. Your choices will dictate your survival. Good luck! And have fun!
      </p>

<!-- Footer -->
      <div><a href="/helppage">
      <div id="rabbit"><img src="../resources/jumpbunnyedit.gif"></div></a></div>
      <div id="deer"><img src="../resources/flyrabbit.gif"></div>
    </section>
    <input type ="button" id = "goBack" value = "Go Back">
  </body>
</html>
