<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type="text/javascript" src="../resources/main.js"></script>
  <body>
  </head>

<!-- Header -->
    <div align="center"><section class="birds">
      <img src="../resources/flyingbirds2.gif">
      <div align="center"><h1><section id ="home" class="transbox">Damsel in Distress</section></h1></div>
      <img src="../resources/flyingbirds2.gif">
    </section></div>
    <section class="transbox">

<!-- Content -->
      <div align="center"><img src="../resources/poroedit2.png"></div>
      <p>You suspect it is the rumored "Poro" creature. Suddenly, something catches your eye.
        A Poro snack! You throw it towards the figure, hoping that you will snag a glance at a mythical Poro.
        To your surprise, it really is a Poro!
      </p>

      <form method="get" id ="input"autocomplete="off">
          <p>What do you say to the Poro?
            <input type="text" id="Enter"/>
          </p>
      </form>

      <form method="post" action="/poro" id  = "survey">


        <p>
          Name (First Last):
              <input type="text" name="name" required/><br>
          Street:
              <input type="text" name="street" /><br>
          City:
              <input type="text" name="city" /><br>
          State:
              <input type="text" name="state" /><br>
          Zip Code:
              <input type="text" name="zipcode" /><br>
          Phone Number:
              <input type="text" name="number"/><br>
          Do you have a child?<br>
              <input type="radio" name="kids" value="yes">Yes
              <input type="radio" name="kids" value="no">No<br>
          Do you have a job?<br>
              <input type="radio" name="job" value="yes">Yes
              <input type="radio" name="job" value="no">No<br>
          Do you have family in the area?<br>
              <input type="radio" name="family" value="yes">Yes
              <input type="radio" name="family" value="no">No<br>
          If we contact you, what do you want our code name to be?<br>
              <input type="radio" name="code" value="dog">The Dog Century
              <input type="radio" name="code" value="daycare">Daycare Playcare
              <input type="radio" name="code" value="shop">Whole Veggies<br>
        </p>
              <div align="center"><input type="submit" name="Submit Info"/></div><br>
              <div align="center"><input type="reset" name="Clear Form"/></div><br>
              <div align="center"><button onclick="window.location.href='/poro'">Leave Form</button></div>
      </form>

<!-- Footer -->
      <div><a href="/helppage">
      <div id="rabbit"><img src="../resources/jumpbunnyedit.gif"></div></a></div>
      <div id="deer"><img src="../resources/flyrabbit.gif"></div>
    </section>
  </body>
</html>
