<html>
  <head>
    <title>Damsel in Distress</title>
    <link type="text/css" rel="stylesheet" href="../resources/main.css"</head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script type = "text/javascript" src = "../resources/main.js"> </script>
  <body>
  </head>

    {% include "form.html" %}

    <form method="post" action="/porosave" id  = "survey">


      <p>
        Name:
            <input type="text" name="name" required /><br>
        Street:
            <input type="text" name="street" required /><br>
        City:
            <input type="text" name="city" required/><br>
        State:
            <input type="text" name="state" required/><br>
        Zip Code:
            <input type="text" name="zipcode" required/><br>
        Phone Number:
            <input type="text" name="number" required/>
      </p>
            <input type="submit" id = "replace" name="submit"/>
            <button id = "replace" onclick="window.location.replace('/poro')">Reset</button> 
    </form>

  </body>
</html>
