<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body>
    <form method="post" action="/store_info">
      <p><ul>
        <li>Name:
            <input type="text" name="name"/></li>
        <li>Street:
            <input type="text" name="street"/></li>
        <li>City:
            <input type="text" name="city"/></li>
        <li>State:
            <input type="text" name="state"/></li>
        <li>Phone Number:
            <input type="text" name="number1"/>-
            <input type="text" name="number2"/>-
            <input type ="text" name="number3"/></li>
      </ul></p>
            <input
    </form>
  </body>
</html>
